<div class="grid-Table">
  <div class="thead">
    <div class="tr">
      <div class="td">Zone Code</div>
      <div class="td">Zone Name</div>

      <div class="td">
        <button
          class="btn btn-outline-success"
          (click)="addZoneForm()"
          style="width: 180px"
        >
          <i class="fa fa-plus"></i> New Zone
        </button>
      </div>
      <div class="td">
        action
        <span *ngIf="notification" class="elementToFadeInAndOut">
          <i class="fas fa-check-circle {{ notification.class }}"></i>
          {{ notification.message }}
        </span>
      </div>
    </div>
  </div>
  <div class="tbody">
    <form
      class="tr"
      [formGroup]="fg"
      *ngFor="let fg of zoneForms.controls"
      (submit)="zoneSubmit(fg)"
    >
      <div class="td">
        <input
          class="form-control"
          formControlName="zone_code"
          style="width: 140px"
        />
      </div>
      <div class="td">
        <input
          class="form-control"
          formControlName="zone_name"
          style="width: 250px"
        />
      </div>

      <div class="td">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="fg.invalid"
          style="width: 130px"
        >
          <i class="far fa-save fa-lg"></i> Submit
        </button>
      </div>
    </form>
  </div>
</div>
