:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 350px;
  background-color: white;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
  background: url("../../assets/img/crown_background.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}
