<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="example-app-name" routerLink="/main">
      <img src="../../assets/img/crown_logo.png" />
    </h1>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <span class="report">
          <div>
            <button mat-button [matMenuTriggerFor]="belowMenu">
              <mat-icon>summarize</mat-icon>
            </button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
              <button mat-menu-item routerLink="/reports/profilelistreports">
                Profile List
              </button>
              <button mat-menu-item routerLink="/reports/districtreport">
                Month-wise District Report
              </button>

              <button mat-menu-item routerLink="/reports/thanasalesrport">
                Thana-wise District Report
              </button>
              <button mat-menu-item routerLink="/reports/districtretailsreport">
                Month-wise District Retails
              </button>
              <button mat-menu-item routerLink="/reports/thanaretails">
                Month-wise Thana Retails
              </button>
              <button mat-menu-item routerLink="/reports/overallthanareport">
                Overall Thana Report
              </button>
              <button mat-menu-item routerLink="/reports/mokamsalesreport">
                Mokam Sales Report
              </button>
              <button mat-menu-item routerLink="/reports/outletsalesreport">
                Outlet Sales Report
              </button>
              <button mat-menu-item routerLink="/reports/overallmokamreports">
                Overall Mokam Report
              </button>
            </mat-menu>
          </div>
        </span>

        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
