<mat-nav-list>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="division"
    >Division</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="district-view"
    >District</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="thana-view"
    >Thana</a
  >

  <!-- wrap all the nav items in an accordion panel -->

  <mat-divider></mat-divider>
  <h2 matSubheader>CRUD</h2>
  <div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="expan-pannel">
        <mat-expansion-panel-header>
          <mat-panel-title> Brand </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            View, Create, Update or Delete a Brand
            <mat-icon>business</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list-item routerLink="/brand/brand-grid" class="profile"
          >Brand Grid View <mat-icon>table_view</mat-icon></mat-list-item
        >
        <mat-list-item routerLink="/brand/brand-create" class="profile"
          >Create a New Brand<mat-icon
            >add_circle_outline</mat-icon
          ></mat-list-item
        >
        <mat-list-item routerLink="/brand/brand-update" class="profile"
          >Update or Delete a Brand<mat-icon>update</mat-icon
          ><mat-icon>delete_outline</mat-icon></mat-list-item
        >
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="expan-pannel">
        <mat-expansion-panel-header>
          <mat-panel-title> Zone </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            Create, Update or Delete a Zone
            <mat-icon>add_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list-item routerLink="/zone/zone-grid" class="profile"
          >Zone Grid View<mat-icon>table_view</mat-icon></mat-list-item
        >
        <mat-list-item routerLink="/zone/zone-create" class="profile"
          >Create a New Zone<mat-icon
            >add_circle_outline</mat-icon
          ></mat-list-item
        >
        <mat-list-item routerLink="/zone/zone-update" class="profile"
          >Update or Delete a Zone<mat-icon>update</mat-icon
          ><mat-icon>delete_outline</mat-icon></mat-list-item
        >
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="expan-pannel">
        <mat-expansion-panel-header>
          <mat-panel-title> Market </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            Create, Update or Delete a Market/Mokam
            <mat-icon>storefront</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list-item routerLink="/market/market-grid" class="profile"
          >Market Grid View<mat-icon>table_view</mat-icon></mat-list-item
        >
        <mat-list-item routerLink="/market/market-create" class="profile"
          >Create a New Market<mat-icon
            >add_circle_outline</mat-icon
          ></mat-list-item
        >
        <mat-list-item routerLink="/market/market-update" class="profile"
          >Update or Delete a Market<mat-icon>update</mat-icon
          ><mat-icon>delete_outline</mat-icon></mat-list-item
        >
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="expan-pannel">
        <mat-expansion-panel-header>
          <mat-panel-title> Profile </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            View, Create, Update or Delete a Outlet
            <mat-icon>add_business</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list-item routerLink="/profile/profile-grid" class="profile"
          >Profile Grid View <mat-icon>table_view</mat-icon></mat-list-item
        >

        <mat-list-item routerLink="/profile/profile-create" class="profile"
          >Create a New Outlet
          <mat-icon>add_circle_outline</mat-icon></mat-list-item
        >
        <mat-list-item routerLink="/profile/profile-update" class="profile"
          >Update or Delete a Outlet<mat-icon>update</mat-icon
          ><mat-icon>delete_outline</mat-icon></mat-list-item
        >
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-nav-list>
