label {
    text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }

input {
    width: 15%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }

input:focus {
    outline: 3px solid rgba(0, 255, 42, 0.884);
  }

// form button {
//     background: lightgrey;
//     padding: 0.7em;
//     border: 0;
//   }

  body{
    background: #f4f4f4;
    height: 100vh;
  }
  
  
  
  
  
  


  

