h2 {
  display: block;
  font-size: 150%;
  opacity: 0.65;
  text-align: center;
  font-weight: 1000;
}

.header {
  display: block;
  text-align: center;
}

.district {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  font-style: inherit;
  color: maroon;
}

.month {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  font-style: inherit;
  color: maroon;
}
